<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<a href="/me">my page</a>
&nbsp;&nbsp;&nbsp;
<a href="/search">search</a>

<h1>All users</h1>
<ul>
    <li th:each="user :${users}" style="padding: 5px">
        <a th:href="@{'user?email=' + ${user.email}}"
           th:text="${user.firstName + ' ' + user.lastName + ' (' + user.age + ' years, ' + user.getCity() + ')'}"></a>
    </li>
</ul>

<!--<form action="/generate_users" method="POST" >-->
<!--    <input type="number" min="1" th:name="userCount">-->
<!--    <button type="submit">generate users</button>-->
<!--</form>-->

</body>
</html>