<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/me">my page</a>
<h4>Recent news:</h4>

<div th:each="news : ${newsList}">
    <div>
        <a th:href="${'/user?email=' + news.getAuthorEmail()}" th:text="${news.getAuthorEmail()}"></a>
        <span th:text="'(' + ${#temporals.format(news.getTimestamp(), 'YYYY-MM-dd, HH:mm:ss') + ')'}"></span>
    </div>
    <div th:text="${news.getText()}"></div>
    <hr>
</div>
</body>
</html>